@page "/sheet-details/{ChecklistId:int}"
<!-- 6 -->

<h3>Просмотр контрольного листа</h3>



<!-- TODO: Отображение и редактирование листа -->

@code {
    [Parameter] public int ChecklistId { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
}